.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    color: white;
  }
  
  .navbar .logo a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .search-bar input[type="text"] {
    padding: 8px;
    margin-right: 4px;
    border-radius: 20px;
    border: none;
    background-color: #F6F8FA;
  }
  
  .search-bar button {
    padding: 8px 16px;
    background-color: #555;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #666;
  }
  